body {
    margin: 0;
    padding: 0;
}

.mainBack {
    width: 100vw;
}

.wordLogo {
    position: absolute;
    width: 20vw;
    right: 0rem;
    margin-top: 3rem;
    margin-right: 3rem;
}

.rectLogo {
    position: absolute;
    width: 20vw;
    top: 25vh;
    left: 10vw;
}