@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

.baseGradient {
    background: rgb(239,162,133);
    background: -moz-linear-gradient(65deg, rgba(239,162,133,1) 0%, rgba(234,178,181,1) 30%, rgba(220,190,221,1) 74%, rgba(183,175,223,1) 100%);
    background: -webkit-linear-gradient(65deg, rgba(239,162,133,1) 0%, rgba(234,178,181,1) 30%, rgba(220,190,221,1) 74%, rgba(183,175,223,1) 100%);
    background: linear-gradient(65deg, rgba(239,162,133,1) 0%, rgba(234,178,181,1) 30%, rgba(220,190,221,1) 74%, rgba(183,175,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efa285",endColorstr="#b7afdf",GradientType=1);
}

body {
    margin: 0;
    padding: 0;
}

.mainBack {
    width: 100vw;
}

.wordLogo {
    position: absolute;
    width: 20vw;
    right: 0rem;
    margin-top: 3rem;
    margin-right: 3rem;
}

.rectLogo {
    position: absolute;
    width: 20vw;
    top: 25vh;
    left: 10vw;
}

.rulesAndRegulations {
    width: 100vw;
    /* height: 30rem; */
    /* background-color: rebeccapurple; */
}

.timerText {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

@media (max-width: 1000px) {
    .rectLogo {
        top: 10vh;
    }
}